[Unit]
Description=USB Gadget ECM Network
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/usb_gadget.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target